extends layout

block content
  h1= title
  - var a= results
  each b,index in a
    div(class ="container-fluid" id="index" onclick=`buy(${index})`)
         div(class="row") 
           div(class="col-sm-2")   #{b["type"]}
           div(class="col-sm-2")   #{b["colour"]}
           div(class="col-sm-2")   #{b["life"]}
           script.
              function buy(item){
                 alert(`purchased item ${item+5}.`)
                } 