extends layout
block content
 h1= title
 - let rabbitid = toShow._id
 - let rabbit_type = toShow.type
 - let rabbitcolour = toShow.colour
 - let rabbitlife = toShow.life
 div
    div.row
      div(class='rabbitAttr detailAttr mr-3') Rabbit Id is:
      div #{rabbitid}
    div.row
      div(class='rabbitAttr detailAttr mr-3') Rabbit Type is:
      div #{rabbit_type}
    div.row
      div(class='rabbitAttr detailAttr mr-3') Rabbit Colour is:
      div #{rabbitcolour}
    div.row
      div(class='rabbitAttr detailAttr mr-3') Rabbit Life is:
      div #{rabbitlife} 