extends layout

block content
  h1= title
   - let createView = `dispatch(\"rabbit/create\")` 
   button.btn(class="btn-primary m1-2", onclick=createView) Create
   - var a= results
   div(class ="container-fluid" id="index" onclick=`buy(${index})`)
      div(class="row m-1")
        each result,index in results
          - let destination = `dispatch(\"/rabbit/update?id=${result._id}\")`
          div(class="col-sm-4")  #{result.type} - #{result.name} - #{result.cost}
            button.btn( class="btn-primary" class="btn-toolbar", onclick= destination) Update
  script. 
    function dispatch(path){ 
      window.location.href=path 
     } 